body {
    margin: auto;
    width: 960px;
}

.headernav {

}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ebebeb;
    background-color: #4aaaa5;
    text-align: center;
    padding: 30px;
    float: left;
}

nav {
    float: right;
    padding: 30px;
}

a {
    text-decoration: none;
    padding: 30px;
    color: #444;
    transition: color .5s;
}

a:hover {
    color: teal;
}

hr {
    width: 100%;
}

section {
    width: 960px;
    margin-top: 30px;
}

h1 {
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    margin: 30px;
}

img {
    width: 300px;
    float: left;
    margin: 30px;
}

p {
    padding: 10px;
    margin: 10px;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 20px;
    width: 960px;
    background-color: gray;
    border-top: 5px solid #4aaaa5;
}